<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpEndPoint" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://server:1734/DataProvider/FiasMigrator"
                binding="netTcpBinding" bindingConfiguration="NetTcpEndPoint"
                contract="FiasMigrator.IFiasReal" name="NetTcpEndPoint">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>