<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding" transactionProtocol="WSAtomicTransaction11">
          <security>
            <message clientCredentialType="Windows" algorithmSuite="TripleDesSha256Rsa15" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="EndpointBehavior" name="FiasUpdater.FiasMigrator">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBinding"
          name="NetTcpEndPoint" contract="FiasUpdater.IRealisation"/>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
          name="MexTcpEndPoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://e1111:7799/DataProvider/FiasMigrator" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="EndpointBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
